/* overall */
*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
	padding:0px;
	margin:0px;
	font-size:14px;
	font-family:'Roboto', sans-serif;
}
a{
	text-decoration:none;
}


/* header */
.header .header-top{
	background:#282828;
	height:45px;
}
.header .header-bottom{
	height:70px;
}

.header .header-top .container li{
	display:inline-block;

}

.social-networks{
	padding:15px 0 0 0;
	margin:0;
	list-style:none;
    
}
.social-networks a{
	height: 13px;
	width:16px;
	display:block;
}


.header .header-top .container .social-networks .facebook{
	background: url(..//images/sprite.png) no-repeat 0 0;
}
.header .header-top .container .social-networks .twitter{
	background: url(..//images/sprite.png) no-repeat -18px 0;
}
.header .header-top .container .social-networks .google{
	background: url(..//images/sprite.png) no-repeat -38px 0;
}
.header .header-top .container .social-networks .in{
	background: url(..//images/sprite.png) no-repeat -58px 0;
}
.header .header-top .social-networks{
	display:inline-block;
}

.header .header-top .contacts{
	display:inline-block;
	padding: 0 0 10px 10px;
	margin: 0 0 0 699px;

}
.header .header-top .contacts a{
	color:#e1e1e1;
}
.header .header-top .contacts li{
	color:#e1e1e1;
	margin: 0px -29px 0 30px;
}
.header .header-top .container .contacts .phone{
	background: url(..//images/sprite.png) no-repeat -103px 2px ;
	margin: 0 0 0 0px;
	padding: 0 0 0 20px;
	height: 13px;
	width:154px;
	display:block;
}

.header .header-top .container .contacts .email{
	background: url(..//images/sprite.png) no-repeat -78px 3px ;
	padding: 0 0 0 24px;
	height: 17px;
	width:24px;
	display:block;
}



/* 
Пробел означает что один объект внутри другого

Запятая между классами ставится когда нужно для нескольких классов
указать одни и те же свойства 
*/
.container{
	overflow:hidden; /* указывается у родителя если у ребенка указан float */
	margin:0 auto;
	width:1170px;
	padding:0 15px;
}

.header .logo{
	background: url(..//images/logo.png) no-repeat;
	height:22px;
	width: 188px;
}


.header .col{
	float:left;
	width:50%;
}

.header .col-left{
	padding: 24px 0 0 0;
}

.header .col-right{
	padding: 20px 0 5px 0;
	text-align:right;
}

.header .navigation{
	padding:0px;
	margin:0px;
	list-style:none;
}

.header .navigation li{
	display:inline-block;
}

.header .navigation a{
	display:block;
	text-decoration:none;
	color:#000;
	padding:6px 22px;
	border:1px solid #fff;
	border-radius:20px;
	transition:background .2s, color .2s, border-color .2s;
}

.header .navigation a:hover{
	background:#f3f3f3;
	border-color:#f3f3f3;
}

.header .navigation a.sign-in{
	color:#5db442;
	border:1px solid #5db442;
	padding:6px 26px;
	margin-left:10px;
}



.header .navigation a.sign-in:hover{
	color:#fff;
	background:#5db442;
	box-shadow:0 1px 5px 0 rgba(0,0,0,.35);
}







/*  green-block  */
.green-block{
	height:720px;
	background:#4ca368;
}


.text{
	margin:0 auto;
	padding:0;
}

.topic{
	font-size:35pt;
	text-align:center;
	font-weight:normal;
	padding:90px 0 0;
}

.content{
	text-align:center;
	padding:25px 246px;
	font-size:10pt;
}

.noteboock{
	background: url(../images/noteboock.png) no-repeat center;
	height:396px;
	margin:0 0;
}


/* email-block */

.email-block{
	height:120px;
	background:#efefef;
}



#post{
	display:inline-block;
	width:195px;
	margin:0 0 0 0;
	border-radius:20px 0 0 20px;
	border:1px solid #ccc;
	padding:10px 30px 10px 15px;
	
}

#button{
	display:inline-block;
	width:90px;
	margin-left:-5px;
	border-radius:0 20px 20px 0;
	border:1px solid #ccc;
	padding:10px 15px 10px 10px;
	background:#5db442;
	color:#c9e6c0;
	transition:background .2s, color .2s, border-color .2s;
}

#post,#button:focus{
	outline:none;
}

.form-mail {
	display:block;
	width:284px;
	padding:30px 0 0 0;
	margin:0 auto;
}

.signature{
	display:block;
	width:405px;
	padding:15px 0 0 0;
	margin:0 auto;
	color:#979797;
	font-size: 10pt;
}

#button:hover {
	background:#435e29;
}

/* Community */

.community {
	height:648px;
	background:url(../images/pic1.jpg) no-repeat center; 
	position:relative;
}

.transparent-block{
	height:648px;
	width:auto;
	background-color: rgba(0,0,0, 0.6);
}


.cover-text{
	display:block;
	height:25px;
	width:490px;
	color:#fff;
	margin:70px 320px;
	font-size:350%;
	text-align:center;
	position:absolute;
}

.middle-transblock{
	display: block;
	height: 250px;
	width: 600px;
	background-color: rgba(255,255,255, 0.2);
	margin: 185px auto 0px auto;
}

.layer{
	display: block;
}

.linkslayer{
	list-style: none;
	padding: 45px 0px 0px 250px;
}

.linkslayer a {
	display: block;
	height: 14px;
	width: 28px;
}

.layerUp{
	background: url(../images/layerUp.png) no-repeat center;
	margin: 0px 0px 10px 0px;
}

.layerDown{
	background: url(../images/layerDown.png) no-repeat center;
	margin: 0px 0px 10px 0px;
}

.signup-process{
	display: block;
	width: 600px;
}

.sgLayer a{
	display: block;
	width: 69px;
	height: 58px;
	background: url(../images/arrow.png) no-repeat center;
	margin: 0px 0px 0px 135px;
}

.sgLayer{
	display: inline-block;
	width: 200px;
	margin: 0px 0px 10px 0px;
}

.sgSteps{
	display: inline-block;
	width: 300px;	
	height: 58px;
}

.sgList{
	margin: 0;
	padding: 2px 0 0 60px;
}

.sgSteps #sgp{
	color: #5dae43;
	font-size: 16pt;
	padding: 0px;
	margin: 0 0 6px 45px;
}
.sgSteps .sgList .signup-steps{
	color: #fff;
	margin: 5px 0 0 0;
}

.com-position{
	display: block;
	width: 600px;
	height: 100%;
	padding: 0 35px;
	margin: auto;
}

#posright, #posmiddle, #posleft{
	display: inline-block;
	color: #fff;
	padding: 40px 15px;
	margin: 0 10px;
}

#posright{
	float: left;
}

#posmiddle{
	float: none;
}

#posleft{
	float: right;
}

#one, #two, #three{
	display: block;
	border: 1px solid rgba(73,100,47,0.9);
	width: 46px;
	height: 46px;
	background: rgba(73,100,47,0.9);
	border-radius: 25px;
	margin: auto;
}

#imgone{
	display: block;
	width: 14px;
	height: 13px;
	background: url(..//images/litarw.png);
	margin: 15px auto;
}

#imgtwo{
	display: block;
	width: 17px;
	height: 16px;
	background: url(..//images/knotw.png);
	margin: 15px auto;
}
#imgthree{
	display: block;
	width: 14px;
	height: 13px;
	background: url(..//images/checkw.png);
	margin: 15px auto;
}

