/* overall */
body{
	padding:0;
	margin:0;
}

/* header */
.header .header-top{
	background:#282828;
}

.header .scoial-networks{
	margin:0;
}

.header.header-bottom{
	background:#ffffff;
	margin:0;
}
/*  body  */
.body{
	background:#4ca368;
	
}